body {
  display: grid;
  grid-template-rows: 1fr, 5fr, 1fr;
  width: 100%;
}

header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

footer {
  background-color: blue;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10rem;
  margin-top: 2rem;
}

#header_titulo {
  font-size: 3rem;
  color: blue;
  margin-left: 25px;
  text-transform: uppercase;
}

#header_subtitulo {
  font-size: 1rem;
  color: black;
  margin-left: 25px;
  text-transform: uppercase;
  font-style: italic;
}

#header_logos {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
}

.img_header_logos {
  width: 190px;
  height: 150px;
  box-shadow: 5px 15px 5px rgb(191, 194, 194);
  border-radius: 50%;
}

#proyectos,
#experiencia {
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  color: blue;
  margin-top: 3rem;
}

.img_lista_proyectos {
  width: 1.5rem;
  margin-right: 0.5rem;
}

a {
  text-decoration: none;
}

.descriptivo_lista_proyectos,
.experiencias_descriptivo {
  color: black;
  text-transform: capitalize;
}

.experiencias_lugar {
  font-size: 1rem;
  text-transform: capitalize;
}

.experiencias_descriptivo span {
  font-size: 1rem;
  text-transform: uppercase;
  color: blue;
}

#footer_div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer_div img {
  width: 10rem;
}

#footer_div ul {
  list-style: none;
}

@media (max-width: 700px) {
  main {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }

  #header_titulo {
    inline-size: 500rem;
    overflow-wrap: break-word;
    font-size: 5rem;
  }

  #header_subtitulo {
    margin-left: 0;
    font-size: 3rem;
  }

  #header_logos {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
  }

  .img_header_logos {
    width: 10rem;
    height: 10rem;
  }

  #proyectos,
  #experiencia {
    overflow-wrap: break-word;
    font-size: 3rem;
  }

  .experiencias_lugar {
    font-size: 3rem;
  }
  .experiencias_descriptivo span {
    font-size: 3rem;
  }
}
