body {
  display: grid;
  grid-template-rows: 2fr 5fr 1fr;
  background-color: black;
}

header {
  background-color: white;
}

header img {
  width: 50rem;
}

.header_container {
  display: flex;
  justify-content: left;
  align-items: center;
}

.header_datos_persona {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header_datos_persona p {
  font-family: "Times New Roman", Times, serif;
  text-transform: capitalize;
  font-size: 3rem;
  text-shadow: 2px 1px 4px #000000;
}

.header_datos_persona span {
  font-family: "Times New Roman", Times, serif;
  text-transform: capitalize;
  font-size: 1rem;
  margin-left: 1.5rem;
}

#header_logos {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
}

.img_header_logos {
  width: 75px;
  height: 75px;
  box-shadow: 5px 15px 5px rgb(191, 194, 194);
  border-radius: 50%;
}

/*ADAPTACIONES PARA EL MAIN*/
main {
  width: 100%;
  margin-top: 1rem;
  display: flex;
}

main img {
  width: 50px;
  height: 55px;
  box-shadow: 5px 5px 5px rgb(191, 194, 194);
  border-radius: 50%;
}

main a {
  text-decoration: none;
  margin-left: 1rem;
}

main p {
  color: white;
}

.titulos {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: blue;
}

#proyectos,
#experiencia {
  font-size: 1rem;
  margin-top: 3rem;
}

.experiencias_lugar {
  font-size: 1.2rem;
  text-transform: capitalize;
  color: aqua;
}

.experiencias_descriptivo {
  text-transform: capitalize;
}

.experiencias_descriptivo span {
  font-size: 1rem;
  text-transform: uppercase;
  color: blue;
}

footer {
  background-color: white;
}

#footer_div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer_div img {
  width: 10rem;
}

#footer_div ul {
  list-style: none;
}

@media (max-width: 700px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header img {
    width: 30rem;
  }

  .header_container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
  }

  .header_datos_persona p {
    font-size: 2.5rem;
  }

  .header_datos_persona span {
    font-size: 0.8rem;
  }

  #header_logos {
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;
  }

  .img_header_logos {
    width: 60px;
    height: 55px;
    box-shadow: 5px 5px 5px rgb(191, 194, 194);
    border-radius: 50%;
  }

  main {
    flex-direction: column;
  }
}
